<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

</head>
<body>
<h3>Products</h3>
<div>
    <label>Search</label>
    <form th:action="@{/blog/search}"
          method="post" novalidate="novalidate">
        <input type="text" name="name"/>
        <input type="submit" value="search">
    </form>
</div>
<p>
    <a th:href="@{/blog/create}">
        Add new blog
    </a>
</p>
<div>
    <label>SearchByName</label>
    <input type="text" id="keyword" name="keyword">
    <label>SearchByAuthor</label>
    <input type="text" id="name" name="name">
    <table id="product">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Author</th>
        </tr>
    </table>
</div>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "http://localhost:8080/blog",
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data);
                let tr = [];
                for (let i = 0; i < data.length; i++) {
                    tr.push("<tr>");
                    tr.push("<td>" + data[i].id + "</td>");
                    tr.push("<td>" + data[i].name + "</td>");
                    tr.push("<td>" + data[i].description + "</td>");
                    tr.push("<td>" + data[i].author + "</td>");
                    tr.push("</tr>");
                }
                $("table").append((tr.join("")))
            }
        })
        $("#keyword").keyup(function (){
            let value = $(this).val();
            console.log(value)

            $("table").empty();
            $.ajax({
                url: "http://localhost:8080/blog/search?keyword="+value,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    let tr = [];
                    for (let i = 0; i < data.length; i++) {
                        tr.push("<tr>");
                        tr.push("<td>" + data[i].id + "</td>");
                        tr.push("<td>" + data[i].name + "</td>");
                        tr.push("<td>" + data[i].description + "</td>");
                        tr.push("<td>" + data[i].author + "</td>");
                        tr.push("</tr>");
                    }
                    $("table").append((tr.join("")))
                }
            })
        })

        $("#name").keyup(function (){
            let value = $(this).val();
            console.log(value)

            $("table").empty();
            $.ajax({
                url: "http://localhost:8080/blog/searchA?name="+value,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    let tr = [];
                    for (let i = 0; i < data.length; i++) {
                        tr.push("<tr>");
                        tr.push("<td>" + data[i].id + "</td>");
                        tr.push("<td>" + data[i].name + "</td>");
                        tr.push("<td>" + data[i].description + "</td>");
                        tr.push("<td>" + data[i].author + "</td>");
                        tr.push("</tr>");
                    }
                    $("table").append((tr.join("")))
                }
            })
        })
    })
</script>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
