<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/question}">
        Back to question list
    </a>
</p>
<div id="form">
    <form th:action="@{/save}" th:object="${question}"
          method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Tieu de</label>
            <input type="text" th:field="*{title}"/>
            <p style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        </div>
        <div>
            <label>Noi dung </label>
            <input type="text" th:field="*{question}"/>
            <p style="color: red" th:if="${#fields.hasErrors('question')}" th:errors="*{question}"></p>
        </div>
        <div>
            <label>Loai cau hoi</label>
<!--            <input type="text" th:field="*{customerType}"/>-->
            <select th:field="*{questionType}">
                <option th:each="item : ${questionType}" th:value="${item.id}" th:text="${item.name}" ></option>
            </select>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
